/* You can add global styles to this file, and also import other style files */

:root {
    --bg-color: #1A4870;
    --bg-secondary-color: #1F316F;
    --text-color: #F9DBBA;
    --text-secondary-color: #5B99C2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

body {
    background-image: url('assets/bg-img.jpg');
}

a {
    /* color: inherit;
    text-decoration: inherit; */
    text-decoration: none;
    color: inherit;
}